*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    color:white;
    background-color: blue;
    font-size: 42px;
    font-style: oblique;
    font-weight:bolder;
    text-shadow: 5px 3px 8px rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    text-decoration-color: rgb(8, 14, 11);
    text-decoration-line: underline;
    text-decoration-style:dotted;
    text-decoration-thickness: 3px;
    
}